<nav class="navbar" [class.scrolled]="isScrolled">
    <div class="left-container">
        <a href="#" class="logo">
            <img src="logo-name-text.png" alt="NetflixWrap">
        </a>
        <ul class="nav-links">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
            <li routerLinkActive="active"><a routerLink="/tv-shows">TV Shows</a></li>
            <li routerLinkActive="active"><a routerLink="/movies">Movies</a></li>
            <li routerLinkActive="active"><a routerLink="/new-popular">New & Popular</a></li>
            <li routerLinkActive="active"><a routerLink="/my-list">My List</a></li>
            <li class="wrapped-link" routerLinkActive="active"><a routerLink="/wrapped">2024 Wrapped</a></li>
            <li><a href="#">Browse by Languages</a></li>
        </ul>
    </div>
    <div class="right-container">
        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
        </svg>
        <span class="kid-text">Children</span>
        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2zm6-6v-5c0-3.07-1.63-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.64 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2zm-2 1H8v-6c0-2.48 1.51-4.5 4-4.5s4 2.02 4 4.5v6z" />
        </svg>

        <div class="profile-menu" (mouseenter)="isDropdownOpen = true" (mouseleave)="isDropdownOpen = false"
            (click)="toggleDropdown()">
            <div class="profile-container">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Netflix-avatar.png" alt="User"
                    class="profile-img">
                <span class="caret"></span>
            </div>

            @if (isDropdownOpen) {
            <div class="dropdown-menu">
                <div class="arrow-up"></div>
                <div class="menu-group">
                    <div class="menu-item">
                        <img src="https://wallpapers.com/images/hd/netflix-profile-pictures-1000-x-1000-qo9h82134t9nv0j0.jpg"
                            alt="Kid">
                        <span>Kids</span>
                    </div>
                    <div class="menu-item">
                        <span class="manage-icon">+</span>
                        <span>Manage Profiles</span>
                    </div>
                </div>
                <hr>
                <div class="menu-group links">
                    <a href="#">Account</a>
                    <a href="#">Help Center</a>
                </div>
                <hr>
                <div class="sign-out" (click)="logout()">
                    Sign out of Netflix
                </div>
            </div>
            }
        </div>
    </div>
</nav>