.login-wrapper {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://assets.nflxext.com/ffe/siteui/vlv3/93da5c27-be66-427c-8b72-5cb39d275279/94eb5ad7-10d8-4cca-bf45-ac52e0a052c0/IN-en-20240226-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;

    .login-header {
        padding: 20px 4%;

        .logo {
            height: 45px;
        }
    }

    .login-body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 90px);
        /* rough header height */
    }

    .login-box {
        background-color: rgba(0, 0, 0, 0.75);
        padding: 60px 68px 40px;
        border-radius: 4px;
        width: 100%;
        max-width: 450px;
        min-height: 660px;

        h2 {
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 28px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .input-group {
                input {
                    background: #333;
                    border-radius: 4px;
                    border: 0;
                    color: #fff;
                    height: 50px;
                    line-height: 50px;
                    padding: 16px 20px;
                    width: 100%;
                    font-size: 16px;

                    &:focus {
                        background: #454545;
                        outline: none;
                    }
                }
            }

            .submit-btn {
                background-color: #e50914;
                color: white;
                border: none;
                border-radius: 4px;
                font-size: 16px;
                font-weight: 700;
                margin-top: 24px;
                margin-bottom: 12px;
                padding: 16px;
                cursor: pointer;
                transition: background 0.2s;

                &:hover {
                    background-color: #f40612;
                }
            }

            .support {
                display: flex;
                justify-content: space-between;
                font-size: 13px;
                color: #b3b3b3;

                a {
                    color: #b3b3b3;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .remember {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }
        }

        .signup-now {
            margin-top: 50px;
            /* Spacing */
            color: #737373;
            font-size: 16px;

            a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .recaptcha {
            margin-top: 20px;
            font-size: 13px;
            color: #8c8c8c;

            a {
                color: #0071eb;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (max-width: 740px) {
    .login-wrapper {
        background: black;

        .login-box {
            background: black;
            padding: 0 4%;
            min-height: auto;
        }

        .login-header {
            border-bottom: 1px solid #333;
        }
    }
}